/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-color: #d4d4d4
}

.navbar {
    background-color: transparent;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 0px;
}

.signUpButton {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 40px;
    margin-top: 12px;
    margin-right: -23px;
    text-align: center;
}

.signInButton {
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    width: 120px;
    height: 40px;
    margin-top: 12px;
    text-align: center;
    margin-right: 30px;
    margin-left: 10px;
}

.Sign_Up {
    font-size: 17px;
    font-family: "Century Gothic";
    color: rgb(37, 118, 252);
    font-weight: bold;
    line-height: 1.2;
    margin-top: -8px;
}


.navbar-brand {
    font-size: 25px;
    font-family: "Century Gothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}

    .navbar-brand > span {
        color: white;
        margin-left: -15px;
    }


.link, .linkLast {
    height: 48px;
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
    font-family: "Century Gothic";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

    .link span, .linkLast span {
        color: white;
    }

.navbarAndTitleHousingContainer {
    height: 450px;
    background-image: linear-gradient(to bottom, #25aefc, #23b4fc, #26b9fc, #2ebffb, #37c4fa);
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.LinkOne {
    margin-right: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

@media only screen and (max-width : 991px) {
    .link span, .linkLast span {
        font-size: 15px;
        padding: 0 0 0 0;
    }

    .link, .linkLast {
        height: 48px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .navbar-brand span {
        margin-left: 0px;
    }
}


@media only screen and (max-width : 1200px) {
    .navbar-brand span {
        margin-left: 0px;
    }
}

@media only screen and (max-width : 765px) {
    .link span, .linkLast span {
        font-size: 20px;
    }

    .link, .linkLast, .navbar, .navbar-collapse, .navbar-right {
        margin-right: 0px;
    }

    .signUpButton {
        width: 50%;
        margin: 0 0 0 0;
        margin-top: 15px;
        margin-left: 25%;
        margin-bottom: 30px;
    }

    .signInButton {
        width: 50%;
        margin: 0 0 0 0;
        margin-top: 15px;
        margin-left: 25%;
    }

    .Sign_Up {
        font-size: 17px;
        font-family: "Century Gothic";
        color: rgb(37, 118, 252);
        font-weight: bold;
        line-height: 1.2;
        margin-top: -2px;
    }

    .navbar {
        border-bottom: 0px;
    }

    .navbar-collapse {
        border: 0px;
        max-height: 1000px;
    }

    .navbar-collapse {
        background-image: linear-gradient(to left bottom, #25aefc, #37acf9, #44a9f5, #4ea7f2, #56a5ee);
    }



    .navbar-right li {
        text-align: center;
    }
}
