/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.navbar {
    background-color: transparent;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    border: 0px;
}

.navbar-toggle {
    border: 0px;
    margin-top: 8px;
}

.navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.21);
}

.navbar-default .navbar-toggle:past {
    background-color: rgba(255, 255, 255, 0.21);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.signUpButton {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 40px;
    margin-top: 12px;
    margin-right: -23px;
    text-align: center;
}

    .signUpButton:hover {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        width: 120px;
        height: 40px;
        margin-top: 12px;
        margin-right: -23px;
        text-align: center;
    }

.signInButton {
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    width: 120px;
    height: 40px;
    margin-top: 12px;
    text-align: center;
    margin-right: 30px;
    margin-left: 10px;
}

.Sign_Up {
    font-size: 17px;
    font-family: "Century Gothic";
    color: rgb(37, 118, 252);
    font-weight: bold;
    line-height: 1.2;
    margin-top: -8px;
}


.navbar-brand {
    font-size: 25px;
    font-family: "Century Gothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}

    .navbar-brand > span {
        color: white;
        margin-left: -15px;
    }

.link, .linkLast {
    height: 48px;
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
    font-family: "Century Gothic";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

    .link span, .linkLast span {
        color: white;
    }

.navbarAndTitleHousingContainer {
    height: 300px;
    background-image: linear-gradient(to left top, #3e89fb, #00a0ff, #00b5ff, #10c9ff, #53daff);
}

.pageTitle {
    font-size: 40px;
    font-family: "Century Gothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.phoneImageDiv {
    max-width: 400px;
    width: 70%;
    margin-left: 20%;
}

.aboutContainer{
    margin-top: 100px;
}

.textCol{
    margin-top: 30px;
}

.Take_a_look__around_our_apps {
    font-family: "Century Gothic";
    color: rgb(37, 119, 252);
    font-weight: bold;
}

.We_re_a_passionate_team_dedicated_to_health_and {
    font-size: 16px;
    font-family: "Century Gothic";
    color: rgb(156, 162, 173);
    font-weight: bold;
}

.phoneWithCalendarImageDiv {
    width: 100%;
    max-width: 400px;
}

.notTheFirstContainer {
    margin-top: 150px;
}

.ourTeamTextCol{
    margin-top: 100px;
}

#card {
    width: 100%;
    height: 400px;
    position: relative;
    margin: 10% auto;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#blur {
    background-size: cover;
    width: 200px;
    height: 330px;
    position: relative;
    top: -15px;
    left: -15px;
    border-radius: 8px;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    filter: blur(8px);
}

#color {
    background: rgba(255, 255, 255, .60);
    width: 430px;
    height: 430px;
}

#profile {
    width: 100%;
    height: 300px;
    position: relative;
    top: -330px;
    border-radius: 8px;
}

#card img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: relative;
    top: 32px;
    display: block;
    margin: 0 auto;
    -webkit-filter: sepia(.25);
    -moz-filter: sepia(.25);
    filter: sepia(.25);
}

#card h1 {
    color: rgba(38, 50, 56, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 48px;
}

#card p {
    color: rgba(38, 50, 56, .87);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 56px;
}

#card a {
    color: rgba(255, 255, 255, 1);
    transition: color 0.4s;
    text-decoration: none;
}

    #card a:hover {
        color: rgba(255, 255, 255, .70);
        transition: color 0.4s;
    }

.info {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 86px;
    background: rgba(38, 50, 56, 1);
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-position: center center;
    background-size: cover;
    transition: all 0.2s ease;
    z-index: 0;
}

    .info.active {
        width: 100%;
        height: 200%;
        position: relative;
        top: -100%;
        background: rgba(38, 50, 56, 1);
        transition: width .1s ease, height .2s ease, top .2s ease, z-index .2s ease;
        z-index: 999;
    }

    .info i.block {
        color: rgba(255, 255, 255, .6);
        display: block;
    }

    .info .fa-info {
        padding: 8px;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.4s ease;
    }

    .info.active .fa-info {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.4s ease;
    }

    .info .fa-angle-down {
        cursor: pointer;
        visibility: hidden;
    }

    .info.active .fa-angle-down {
        position: relative;
        margin: 0 auto;
        width: 24px;
        height: 24px;
        padding: 4px;
        visibility: visible;
        position: relative;
        top: 128px;
        animation-name: visible;
        animation-duration: 0.3s;
    }

@keyframes visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.info p {
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 110%;
    font-weight: 400;
    text-align: center;
    padding: 24px;
    position: relative;
    top: 144px;
    visibility: hidden;
}

.info.active p {
    visibility: visible;
    animation-name: entrance-first;
    animation-duration: 0.4s;
}

.info .link {
    visibility: hidden;
    margin: 24px 24px 0px 24px;
    padding: 16px 4px 4px 4px;
    cursor: pointer;
    position: relative;
    top: 144px;
}

.info.active .link {
    visibility: visible;
    animation-name: entrance-second;
    animation-duration: 0.5s;
}

@keyframes entrance-first {
    0% {
        top: 200px;
    }

    100% {
        top: 144px;
    }
}

@keyframes entrance-second {
    0% {
        top: 200px;
    }

    100% {
        top: 144px;
    }
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.LinkOne {
    margin-right: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


@media only screen and (max-width : 991px) {

    .link span, .linkLast span {
        font-size: 15px;
        padding: 0 0 0 0;
    }

    .link, .linkLast {
        height: 48px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .navbar-brand span {
        margin-left: 0px;
    }

    .phoneImageDiv {
        margin-top: 50px;
        margin-left: 12%
    }

    .phoneWithCalendarImageDiv {
        margin-left: 10%;
    }
}


@media only screen and (max-width : 1200px) {
    .navbar-brand span {
        margin-left: 0px;
    }
}

@media only screen and (max-width : 765px) {
    .link span, .linkLast span {
        font-size: 20px;
    }

    .link, .linkLast, .navbar, .navbar-collapse, .navbar-right {
        margin-right: 0px;
    }

    .signUpButton {
        width: 50%;
        margin: 0 0 0 0;
        margin-top: 15px;
        margin-left: 25%;
        margin-bottom: 30px;
    }

    .signInButton {
        width: 50%;
        margin: 0 0 0 0;
        margin-top: 15px;
        margin-left: 25%;
    }

    .Sign_Up {
        font-size: 17px;
        font-family: "Century Gothic";
        color: rgb(37, 118, 252);
        font-weight: bold;
        line-height: 1.2;
        margin-top: -2px;
    }

    .navbar {
        border-bottom: 0px;
    }

    .navbar-collapse {
        border: 0px;
        max-height: 1000px;
    }

    .navbar-collapse {
        background-image: linear-gradient(to left bottom, #25aefc, #37acf9, #44a9f5, #4ea7f2, #56a5ee);
    }

    .navbar-right li {
        text-align: center;
    }
}
